.calndrPg{ margin: 0px 15%; width: 70%; border: 1px solid #ccc; border-radius: 6px; box-shadow: 0px 0px 5px 1px #ccc; padding: 0px; min-height: 600px }
.left{ width: 25%; float: left; padding: 20px }
.right{ width: 66%; float: right; padding: 20px; border-left: 1px solid #ccc; min-height: 600px }
.clear{ clear: both }
.tmslot{ width: 35%; float: right }
.clndr{ width: 60%; display: inline-block }
.calndrPg .react-calendar{ line-height: 5.125em; width: 96%; border: 0px }
.calndrPg .react-calendar__tile:disabled{ background-color: transparent }
.tmslot ul{ padding: 0px }
.tmslot ul li{ list-style: none; border: 1px solid; margin-bottom: 10px; padding: 10px 0px; text-align: center; border: 1px solid #ccc; border-radius: 5px }
.calndrPg .react-calendar__tile:disabled, .calndrPg .react-calendar__month-view__days__day--weekend:disabled, .calndrPg .react-calendar__month-view__days__day--neighboringMonth:disabled{ color: #ccc }
.calndrPg .react-calendar__tile, .calndrPg .react-calendar__month-view__days__day--neighboringMonth, .calndrPg .react-calendar__month-view__days__day--weekend{ color: #2929d3; font-weight: bold }
.calndrPg .react-calendar__tile--active{ color: #fff }
.timezone select{ width: 95%; display: block; height: 34px; border-radius: 5px; background: transparent;border: 1px solid #ccc }
.timezone{ margin-top: 90px }
